.slides{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position:relative;
}
.slided{
    min-width: 500%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position:relative;
    transition: 0.5s;
}
.slide-cont{
    min-width: 20%;
    height: 100%;
    position: relative;
}
.slide{
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit:cover;
}
.card{
    /*min-height: 370px;*/
    width: 300px;
    color: white;
    margin: 0;
    background-color: rgba(0,0,0,0.5);
    display: block;
    position: absolute;
    top:15%;
    left: 10%;
    border-radius: 10px;
}
.card .tlt{
    padding-top: 10px;
    font-size: 1.75em;
    margin: 0 10%;
    font-weight: 500;
}
.card .txt{
    padding: 5px 8%;
}
.card .txt-hid{
    display: none;
    padding: 5px 8%;
    padding-top:0 ;
}
.card .rm-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1em;
    border: 2px solid #fff;
    width: 100px;
    height: 40px;
    cursor: pointer;
    position: relative;
    left:180px;
    margin-bottom: 12px;
}
.slide-btns{
    position: absolute;
    bottom:2%;
    left:50%;
    transform: translateX(-50%);
    width: 320px;
    height: 9px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.slide-btn{
    width: 50px;
    height: 9px;
    background-color: rgba(0, 0, 0, 0.408);
    cursor: pointer;
    box-sizing: border-box;
}

.slide-btn:hover{
    border: 2px solid #ffffff;
}

.slide-active{
    transition: 0.4s;
    background-color: #ffffffaa;
}